@charset "UTF-8";
.product-content-wrap, .product-tab-wrap, .flex-start {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.lnb, .flex-end {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.product-line, .main-slide-wrap .slick-bar, .menu-nav ul, .flex-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header-top-wrap, .flex-spacebetween {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.lnb li, .menu-nav li {
  width: 200px;
  padding: 0 50px;
  text-align: center;
}

/* 헤더 */
.header-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 15;
  background-color: #fff;
}

.header-top-wrap {
  max-width: 1300px;
  margin: 0 auto;
}

.header-logo {
  width: 200px;
}

.menu-nav {
  min-width: 650px;
  height: 100%;
}
.menu-nav ul {
  height: 100%;
}
.menu-nav li {
  position: relative;
  height: 100%;
  font-size: 18px;
  font-weight: 600;
  line-height: 80px;
  cursor: pointer;
}
.menu-nav li:before {
  content: "";
  width: 0;
  height: 3px;
  background-color: #01b1ec;
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: all 0.5s;
}
.menu-nav li:after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #01b1ec;
  position: absolute;
  bottom: 0;
  right: 50%;
  transition: all 0.5s;
}
.menu-nav li:hover:before {
  width: 40%;
}
.menu-nav li:hover:after {
  width: 40%;
}

.header-up {
  transform: translateY(-80px);
  transition-duration: 0.3s;
}

.header-down {
  transform: translateY(0px);
  transition-duration: 0.3s;
}

.header-slide {
  position: fixed;
  display: none;
  top: 80px;
  left: 0;
  width: 100%;
  padding-bottom: 20px;
  z-index: 15;
  background-color: #fff;
  border-top: solid 1px #001f66;
}

.lnb {
  align-items: flex-start;
  max-width: 1300px;
  margin: 0 auto;
}
.lnb ul {
  height: 100%;
}
.lnb li {
  font-size: 18px;
  padding: 15px 0;
  cursor: pointer;
}
.lnb li:hover {
  color: #4d4d4d;
}

/* 내용 */
.full {
  width: 100%;
  height: 100vh;
}

.main-slide-wrap {
  position: relative;
}
.main-slide-wrap .slick-bar {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.main-slide-wrap .slick-bar li {
  border: none;
  width: 22.22%;
  height: 3px;
  margin: 0 15px;
  background-color: rgb(136, 136, 136);
}
.main-slide-wrap .slick-bar button {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 0;
}
.main-page {
  position: relative;
  width: 100%;
  height: 100vh;
}
.main-page video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.dark {
  filter: brightness(75%);
}

.main-txt {
  position: absolute;
  top: 40%;
  left: 10%;
}
.main-txt h2 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 15px;
}
.main-txt p {
  font-size: 24px;
  color: #fff;
}

.page-wrap {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 0;
}

.page-title {
  color: #000;
  font-size: 36px;
  margin-bottom: 30px;
}

.product-wrap {
  width: 100%;
}

.product-tab-wrap {
  align-items: flex-end;
  width: 100%;
  height: 100px;
}

.product-tab {
  position: relative;
  width: 300px;
  height: 70px;
  background-image: linear-gradient(to bottom, #e60109 75%, #fff 10%, #e60109 15%);
  border: solid 3px #000;
  cursor: pointer;
}
.product-tab span {
  position: absolute;
  width: 15%;
  height: 15px;
  background-color: #000;
  border: solid 3px #000;
  border-bottom: none;
}
.product-tab .btr-left {
  top: -18px;
  left: 20%;
}
.product-tab .btr-right {
  top: -18px;
  right: 20%;
}
.product-tab img {
  position: absolute;
  width: 30px;
}
.product-tab .ico-minus {
  top: 15px;
  left: 10%;
}
.product-tab .ico-plus {
  top: 15px;
  right: 10%;
}
.product-tab p {
  height: 100%;
  font-size: 24px;
  text-align: center;
  color: #000;
  line-height: 54px;
}

.product-content-wrap {
  width: 100%;
  height: 500px;
  border: solid 3px #000;
  border-top: none;
  background-color: #181818;
}

.product-line {
  width: 100%;
  height: 100%;
  padding: 20px;
}
.product-line img {
  width: 50%;
  max-height: 100%;
}

.pl-right {
  position: relative;
  width: 50%;
  height: 100%;
  padding: 10px 0 10px 10px;
}
.pl-right .pl-text {
  width: 80%;
  margin: 0 auto;
  font-size: 24px;
  color: #fff;
  line-height: 1.5;
}
.pl-right .showmore {
  position: absolute;
  width: 50%;
  height: 70px;
  border: solid 4px #000;
  border-radius: 5px;
  bottom: 96px;
  left: 50%;
  transform: translateX(-50%);
}
.pl-right .showmore a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}