@charset "UTF-8";
.flex-start {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.footer-list ul, .footer-link, .footer-btn-wrap, .lnb, .flex-end {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.move-banner, .main-slide-wrap .slick-bar, .menu-nav ul, .flex-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-wrap, .news-open .news-open-sub, .news-line, .news-wrap, .number-wrap, .product-wrap, .header-top-wrap, .flex-spacebetween {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-right, .news-open .news-txt, .flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.lnb li, .menu-nav li {
  width: 200px;
  padding: 0 50px;
  text-align: center;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

/* 헤더 */
.header-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 15;
  background-color: #fff;
}

.header-top-wrap {
  max-width: 1300px;
  margin: 0 auto;
}

.header-logo {
  width: 200px;
}

.menu-nav {
  min-width: 650px;
  height: 100%;
}
.menu-nav ul {
  height: 100%;
}
.menu-nav ul .nav-under::before {
  width: 40%;
}
.menu-nav ul .nav-under:after {
  width: 40%;
}
.menu-nav li {
  position: relative;
  height: 100%;
  font-size: 18px;
  font-weight: 600;
  line-height: 80px;
  cursor: pointer;
}
.menu-nav li:before {
  content: "";
  width: 0;
  height: 3px;
  background-color: #01b1ec;
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: all 0.5s;
}
.menu-nav li:after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #01b1ec;
  position: absolute;
  bottom: 0;
  right: 50%;
  transition: all 0.5s;
}
.menu-nav li:hover:before {
  width: 40%;
}
.menu-nav li:hover:after {
  width: 40%;
}

.header-up {
  transform: translateY(-80px);
  transition-duration: 0.3s;
}

.header-down {
  transform: translateY(0px);
  transition-duration: 0.3s;
}

.header-slide {
  position: fixed;
  display: none;
  top: 80px;
  left: 0;
  width: 100%;
  padding-bottom: 20px;
  z-index: 15;
  background-color: #fff;
  border-top: solid 1px #eee;
}

.lnb {
  align-items: flex-start;
  max-width: 1300px;
  margin: 0 auto;
}
.lnb ul {
  height: 100%;
}
.lnb li {
  font-size: 18px;
  padding: 15px 0;
  cursor: pointer;
}
.lnb li:hover {
  color: #01b1ec;
}

/* 내용 */
section:nth-child(odd) {
  background-color: #181818;
}
section:nth-child(even) {
  background-color: #151515;
}

.full {
  width: 100%;
  height: 100vh;
}

.main-slide-wrap {
  position: relative;
}
.main-slide-wrap .slick-bar {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.main-slide-wrap .slick-bar li {
  border: none;
  width: 22.22%;
  height: 3px;
  margin: 0 15px;
  background-color: rgb(136, 136, 136);
}
.main-slide-wrap .slick-bar button {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 0;
}
.main-slide-wrap .slick-bar .slick-active {
  background-color: #01b1ec;
}

.main-page {
  position: relative;
  width: 100%;
  height: 100vh;
}
.main-page video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.dark {
  filter: brightness(75%);
}

.main-txt {
  position: absolute;
  top: 40%;
  left: 10%;
}
.main-txt h2 {
  font-size: 48px;
  color: #fff;
  margin-bottom: 15px;
}
.main-txt p {
  font-size: 28px;
  color: #fff;
}

.page-wrap {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 0;
}

.page-title {
  color: #fff;
  font-size: 48px;
  margin-bottom: 30px;
}
.page-title span {
  background: linear-gradient(to bottom, transparent 60%, #01b1ec 40%);
}

.page-subtitle {
  color: #fff;
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 1.2;
}

.business-main {
  position: relative;
  width: 100%;
  height: 560px;
}

.business-title-wrap {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.business-title {
  position: absolute;
  top: 0;
  left: -1000px;
  font-size: 52px;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
  padding: 15px;
  z-index: 5;
  transition: all 1s;
}

.business-content {
  position: absolute;
  width: 45%;
  bottom: 0;
  left: -1000px;
  color: #fff;
  transition: all 0.8s;
  z-index: 5;
}
.business-content h4 {
  font-size: 28px;
  margin: 15px 0;
}
.business-content p {
  font-size: 18px;
  line-height: 1.3;
}

.bc-detail {
  margin-bottom: 30px;
  display: none;
}

.bm-img {
  position: absolute;
  width: 720px;
  height: 410px;
  top: 65px;
  right: -1000px;
  transition: all 0.8s;
}
.bm-img img {
  display: none;
  width: 100%;
  height: 100%;
}

.btn-more {
  width: 290px;
  border: solid 2px #fff;
  padding: 15px;
  margin: 0 auto;
}
.btn-more a {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.btn-more:hover {
  border-color: #01b1ec;
}
.btn-more:hover a {
  color: #01b1ec;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.product-wrap {
  width: 100%;
}

.product {
  position: relative;
  width: 30%;
  height: 0;
  padding-bottom: 30%;
}
.product a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 10;
  cursor: pointer;
}

.pd-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: all 0.5s;
}

.cathode-img {
  background-image: url(../source/img/cathode.jpg);
}

.film-img {
  background-image: url(../source/img/Release-Film.jpg);
}

.toner-img {
  background-image: url(../source/img/toner-powder.jpg);
}

.product-text {
  position: absolute;
  width: 65%;
  height: 180px;
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  transition: all 0.5s;
}
.product-text span {
  display: inline-block;
  text-align: center;
}
.product-text .pt-title {
  border: solid 2px #fff;
  border-radius: 30px;
  color: #fff;
  padding: 10px 15px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}
.product-text .pt-content {
  line-height: 1.5;
  color: #fff;
}

.pd-hover {
  filter: opacity(0.6);
}

.pt-hover {
  bottom: 130px;
}

.number-wrap {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.number-wrap .nw-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 60px;
  background-image: url(../source/img/building-connect.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(75%);
}
.number-wrap .num-subtitle {
  position: absolute;
  top: 15px;
  left: 45px;
  color: #fff;
  font-size: 28px;
}
.number-wrap p {
  color: #fff;
  font-size: 38px;
  margin-bottom: 30px;
  line-height: 1.5;
}
.number-wrap .number-top {
  font-size: 42px;
  font-weight: bold;
}

.num-content {
  width: 25%;
  text-align: center;
  margin-top: 500px;
  z-index: 5;
  transition: all 0.5s;
}

.mg-reset {
  margin-top: 0;
}

@-webkit-keyframes contentUp {
  0% {
    margin-top: 500px;
  }
  80% {
    margin-top: -50px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes contentUp {
  0% {
    margin-top: 500px;
  }
  80% {
    margin-top: -50px;
  }
  100% {
    margin-top: 0;
  }
}
.news-wrap {
  align-items: flex-start;
}

.news-left {
  width: 40%;
}

.news-content-wrap {
  width: 60%;
  color: #fff;
}
.news-content-wrap li {
  padding: 0 20px;
  border-bottom: solid 1px #eee;
  cursor: pointer;
}
.news-content-wrap li:first-child {
  border-top: solid 1px #eee;
}
.news-content-wrap li:nth-child(1) .news-img {
  background-image: url(../source/img/news-img.jpg);
}
.news-content-wrap li:nth-child(2) .news-img {
  background-image: url(../source/img/news-img2.jpg);
}
.news-content-wrap li:nth-child(3) .news-img {
  background-image: url(../source/img/news-img.jpg);
}
.news-content-wrap li:nth-child(4) .news-img {
  background-image: url(../source/img/news-img4.jpg);
}

.news-line p {
  width: calc(100% - 80px);
  padding: 20px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
.news-line span {
  width: 80px;
  text-align: center;
}

.news-open {
  display: none;
}
.news-open .news-img {
  width: 400px;
  height: 260px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.news-open .news-txt {
  width: calc(100% - 400px);
  padding: 0 20px;
}
.news-open .news-txt p {
  width: 100%;
  font-size: 18px;
  line-height: 1.4;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.news-open .news-txt span {
  width: 100%;
  text-align: right;
  padding-top: 10px;
}
.news-open .news-txt span a {
  color: #fff;
  cursor: pointer;
}
.news-open .news-txt span a:hover {
  color: #01b1ec;
}

.on {
  cursor: default !important;
}
.on .news-open {
  display: block;
}
.on .news-line p {
  color: #01b1ec;
  font-size: 20px;
}
.on .news-line span {
  color: #01b1ec;
}

.move-banner {
  width: 100%;
  height: 200px;
}
.move-banner .shortcut {
  position: relative;
  width: 50%;
  height: 100%;
  cursor: pointer;
}
.move-banner .shortcut .shortcut-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(75%);
}
.move-banner .shortcut:nth-child(1) .shortcut-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../source/img/ethics.jpg);
}
.move-banner .shortcut:nth-child(2) .shortcut-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../source/img/recruit.jpg);
}
.move-banner .shortcut:hover .shortcut-bg {
  filter: brightness(100%);
}
.move-banner .shortcut:hover .shortcut-banner {
  background-color: #01b1ec;
}
.move-banner .shortcut:hover .shortcut-banner span {
  opacity: 1;
}

.shortcut-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 25px 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s;
}
.shortcut-banner span {
  opacity: 0;
  font-size: 34px;
}

footer {
  background-color: #181818;
}

.footer-wrap {
  align-items: flex-start;
  max-width: 1440px;
  height: 260px;
  margin: 0 auto;
  padding: 25px 0 30px;
}

.footer-left {
  width: 50%;
}

.footer-logo {
  width: 280px;
}
.footer-logo img {
  width: 100%;
}

.copyright {
  margin-top: 10px;
}
.copyright p {
  color: #ddd;
  padding: 5px 0;
}
.copyright p span {
  width: 70px;
  display: inline-block;
}

.footer-right {
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

.footer-btn-wrap {
  padding-top: 15px;
}

.footer-btn {
  border-radius: 5px;
  background-color: #001f66;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
}
.footer-btn a {
  display: block;
  color: #fff;
}

.footer-link {
  margin-top: 15px;
}
.footer-link select {
  color: #eee;
  background-color: transparent;
  border: solid 1px #eee;
  width: 100%;
  height: 100%;
}
.footer-link select option {
  color: #eee;
  background-color: #000;
}
.footer-link select:hover {
  background-color: #01b1ec;
}

.form-wrap {
  width: 120px;
  height: 30px;
  margin: 0 10px;
}
.form-wrap form {
  width: 100%;
  height: 100%;
}

.footer-list {
  width: 100%;
}
.footer-list ul {
  height: 100%;
}
.footer-list li {
  position: relative;
  margin: 0 10px;
}
.footer-list li:before {
  content: "";
  height: 14px;
  width: 1.5px;
  background-color: #aaa;
  position: absolute;
  right: -10px;
  top: 0;
}
.footer-list li:last-child:before {
  height: 0;
}
.footer-list a {
  display: block;
  color: #aaa;
  font-size: 14px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .page-wrap {
    padding: 60px 20px;
  }
  .bm-img img {
    filter: opacity(50%);
  }
}